{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'IndustryFinder/login.css' %}" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login | IndustryFinder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="login-card">
        <div class="account">
            <h2 class="title">Login</h2>
            <div class="body ">
                <form class="login_form" action="" method="post" enctype = "multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="usr">Username:</label>
                        <input type="text" name="username" class="form-control" id="usr"><br>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" name="password" class="form-control" id="pwd"><br>
                    </div>
                    <button type="submit" class="btn btn-primary">SIGN IN</button>
                </form>
             </div>
        </div>
        <div class="image">
            <div>
                <span class="alredy-acc">Dont have an account?</span>
                <span><button type="submit" class="btn info"><a id="Nolink" href="{% url 'IndustryFinder:signup' %}">SIGN UP</a></button></span>
            </div>
            <img class="login_img" src="{% static 'IndustryFinder/undraw_predictive_analytics_kf9n (2).svg' %}" alt="Login Image">
        </div>
    </div>
</body>
</html>

